<div class="operations-container">
  <div class="left-controls data-display-container">
    <span>
      <label for="price">&nbsp; Filter by Price: </label>
      <input
        id="price"
        type="range"
        min="100"
        max="10000"
        step="50"
        [(ngModel)]="selectedPrice"
        (input)="filterByPrice($event)"
      >
      <span>{{ selectedPrice }}$</span>
    </span>

    <span class="data-display-container">
      <button (click)="sortProductsByPrice()" [class.active]="sortBy === 'price'">
        Sort by Price <span *ngIf="sortOrderPrice === 'asc'">🔼</span><span *ngIf="sortOrderPrice === 'desc'">🔽</span>
      </button>

      <button (click)="sortProductsByName()" [class.active]="sortBy === 'name'">
        Sort by Name <span *ngIf="sortOrderName === 'asc'">🔼</span><span *ngIf="sortOrderName === 'desc'">🔽</span>
      </button>
    </span>

    <div class="search-bar">
      <input type="text" placeholder="Search products..." [(ngModel)]="searchQuery" (input)="onSearch()" />
    </div>    
  </div>
</div>