.feedback-container {
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.feedback-heading {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input, textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: none;
}

button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-list {
  max-height: 135px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  padding-top: 0.5rem;
}

.feedback-item {
  padding: 0.25rem;
}

.feedback-font {
  font-style: italic;
}

.global-feedbacks-form button:hover {
  background-color: #0056b3;
}

.global-feedbacks-form input[type="text"],
.global-feedbacks-form textarea {
  border: 2px solid #ccc;
  border-color: #ccc;
  outline: none;
}

.global-feedbacks-form input[type="text"]:hover,
.global-feedbacks-form input[type="text"]:focus,
.global-feedbacks-form textarea:hover,
.global-feedbacks-form textarea:focus {
  border: 2px solid #007bff;
  border-color: #007bff;
  outline: none;
}

@media (max-width: 600px) {
  .feedback-container {
    padding: 0.5rem;
  }

  input, textarea {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .feedback-item {
    font-size: 0.8rem;
  }
}
