.delivery-heading {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 97%;
  margin: 0 auto;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem;
  object-fit: cover;
}

@media screen and (max-width: 1068px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
